<%= content_for(:navbar_class, "navbar-home") %>

<div class="create-banner"></div>

<div class="progress-outer finished"></div>

<div class="container wide pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <div id="final-step" class="step-container d-flex justify-content-center">
        <p>STEP 6 OF 6</p>
      </div>
      <div class="step-title mb-5">
        <h1>Choose your lineup</h1><%= render 'shared/animated_musical_notes' %>
      </div>
      <div class="cards-container">
        <div class="container wide title my-3">
          <h4>Click to select:</h4>
        </div>
        <% @instruments.each do |instrument| %>
          <%= link_to build_role_rehearsal_path(instrument: instrument), method: :post, remote: true, class: "instrument-link" do %>
            <div class="instrument-clickable">
              <i><%= cl_image_tag instrument.photo.key %></i>
              <p><%= instrument.name.titleize %></p>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="lineup-container">
        <div class="container wide lineup-title my-3">
          <h4>Lineup</h4>
        </div>
        <% @rehearsal.roles.each do |role| %>
          <div class="position-relative hover-opacity">
            <% if role.user == current_user %>
              <%= link_to edit_role_path(role), class: "change-remove" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            <% else %>
              <%= link_to role_path(role), method: :delete, remote: true, class: "change-remove" do %>
                <i class="fas fa-times"></i>
              <% end %>
            <% end %>
            <div class="lineup-instrument-clickable">
              <i><%= cl_image_tag role.instrument.photo.key %></i>
              <p><%= role.instrument.name.titleize %></p>
              <% if role.user == current_user %>
                <p class="role-user">🎵</p>
              <% end %>

            </div>
          </div>
        <% end %>
      </div>

      <div class="button-container mt-3">
        <%= link_to 'FINISHED!', rehearsal_path(@rehearsal), class: "btn btn-openrehearsal" %>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>

  const instruments = document.querySelectorAll('.instrument-clickable');

  const toggleActiveClass = (event) => {
    event.currentTarget.classList.toggle('active');
  };

  const toggleActiveOnClick = (instrument) => {
    instrument.addEventListener('click', toggleActiveClass);
  };

  instruments.forEach(toggleActiveOnClick);

<% end %>
