<div class="container pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-8">

      <h1>Choose instruments</h1>
      <p>Step 6 of 6</p>

      <div>
        <% @instruments.each do |instrument| %>
          <%= link_to "#{instrument.name}", build_role_rehearsal_path(instrument: instrument), method: :post %>
        <% end %>
      </div>

      <div>
        <h3 id="rehearsal-lineup">Lineup</h3>
        <ul>
          <% @rehearsal.roles.each do |role| %>
            <li>
              <%= role.instrument.name %>
              <% if role.user == current_user %>
                <span>(you!)</span>
                <%= link_to 'change', edit_role_path(role) %>
              <% else %>
                <%= link_to 'remove', role_path(role), method: :delete %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <%#= link_to 'Back', edit_rehearsal_path(@rehearsal), class: "btn btn-outline-secondary" %>



      <div class="d-flex justify-content-center">
        <%= link_to 'FINISHED!', rehearsal_path(@rehearsal), class: "btn btn-openrehearsal" %>
      </div>
      <%#= link_to 'cancel', rehearsal_path(@rehearsal), method: :delete, data: { confirm: 'Are you sure you want to cancel this rehearsal?'} %>

    </div>
  </div>
</div>
