<% content_for :meta_description, "Find rehearsal opportunities with availability for your instruments." %>

<!-- <div class="container-rehearsals"> -->
<div class="container mt-5 pb-5">
  <div class="row align-items-center">
    <div class="col-6">
      <% if params[:query].present? %>
        <h2><%= @suggested_rehearsals.count %> search result<%= @suggested_rehearsals.count == 1 ? "" : "s" %> for "<%= params[:query]%>"</h2>
      <% else %>
        <h2 class="mb-0">Rehearsals open for you</h2>
      <% end %>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <%= render 'shared/search' %>
    </div>
  </div>

  <div class="row mt-4">

    <div class="col-8">
      <% if @suggested_rehearsals.empty? && !params[:query].present? %>
        <p>There are currently no rehearsals with availability for your instruments.</p>
      <% else %>
        <div class="row">
          <% @suggested_rehearsals.each do |rehearsal| %>
            <div class="col-12 col-xl-6">
              <%= render "shared/card_rehearsal", rehearsal: rehearsal %>
            </div>
          <% end %>
        </div>
        <div class="row">
          <% if params[:query].present? %>
            <%= link_to 'Clear search', rehearsals_path, class: "margin-lh" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-4">
      <div id="map"
          style="width: 100%; min-height: 250px; height: 100%; margin-top: 15px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<div class="index-image"></div>

<div class="container d-flex justify-content-center">
  <div class="index-create">
    <h4 class="mb-3">Can't find what you're looking for?</h4>
    <p>Make your own event!</p>
    <%= link_to "CREATE REHEARSAL", new_rehearsal_path, class: "btn btn-openrehearsal ml-3 mr-4" %>
  </div>

</div>



  <!--</div>-->






