<% content_for :meta_title, "#{@rehearsal.title}" %>
<% content_for :meta_description, "#{@rehearsal.description}" %>

<div class="container pt-4 pb-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="rehearsal-show-page-banner"></div>
      <%= image_tag "rehearsal-show-page-line.png", alt: "alttext", class: "rehearsal-show-page-line" %>
      <h2 class="rehearsal-title"><%= @rehearsal.title %></h2>
      <p><%= @rehearsal.date_time.strftime("%A %d %B %H:%M") %></p>

      <div class="d-flex">
        <% if @organiser.avatar.attached? %>
          <%= cl_image_tag @organiser.avatar.key, transformation: {width: 40, height: '100%', gravity: "face", radius: "max", crop: "thumb" }, alt: "alttext", class: "avatar-rehearsal-show" %>
        <% else %>
          <%= image_tag "blank_avatar.jpg", class: "avatar-rehearsal-show" %>
        <% end %>
        <p class="hosted-by">Hosted by:</p>
        <p class="organiser-title"><strong>
          <% if (@rehearsal.user_id == current_user.id) %>
            You!
          <% else %>
            <%= link_to "#{@organiser.username}", user_path(@organiser) %>
          <% end %>
        </strong></p>
      </div>

      <br>

      <p><%= @rehearsal.description %></p>

      <br>

      <h4>Attendees</h4>
      <div class="attendees-cards">
        <% @filled.each do |role| %>
          <%= render "shared/spaces_card", role: role %>
        <% end %>
      </div>

      <br>
      <br>

      <% if @spaces.length.positive? %>
        <h4>Spaces</h4>
        <div class="attendees-cards">
          <% @spaces.each do |role| %>
            <%= render "shared/spaces_card", role: role %>
          <% end %>
        </div>
      <% end %>

      <br>
      <br>

      <h4>Location</h4>
      <p><%= @rehearsal.address %></p>

      <div class="mapboxgl-canvas-container">
        <div id="map" class="photo-map"
          style="width: 100%; height: 200px; margin: 0px 0px 20px 0px; position: relative;"
          data-markers="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

      <div class="rehearsal-page-buttons">
        <% if (@rehearsal.user_id == current_user.id) %>
          <%= link_to "EDIT", edit_rehearsal_path(@rehearsal), class: 'btn btn-openrehearsal ml-3 mr-4' %>
        <% end %>
      </div>
      <div class="back-button__show-page">
         <%= link_to "Back", rehearsals_path, class: '' %>
      </div>
      <div class="cancel-button__show-page">
        <% if (@rehearsal.user_id == current_user.id) %>
          <%= link_to "Cancel rehearsal",
              rehearsal_path(@rehearsal),
              class: '',
              method: :delete,
              data: { confirm: "Are you sure you want to cancel this rehearsal?" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
