<div class="container pt-4 pb-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="rehearsal-show-page-banner"></div>
      <h2 class="rehearsal-title"><%= @rehearsal.title %></h2>
      <p><%= @rehearsal.date_time.strftime("%A %d %B %H:%M") %></p>

      <div class="d-flex">
        <% if @organiser.avatar.attached? %>
          <%= cl_image_tag @organiser.avatar.key, transformation: {width: 40, height: '100%', gravity: "face", radius: "max", crop: "thumb" }, alt: "alttext", class: "avatar-rehearsal-show" %>
        <% else %>
          <%= image_tag "blank_avatar.jpg", class: "avatar-rehearsal-show" %>
        <% end %>
        <p class="hosted-by">Hosted by:</p>
        <p class="organiser-title"><strong>
          <% if (@rehearsal.user_id == current_user.id) %>
            You!
          <% else %>
            <%= link_to "#{@organiser.username}", user_path(@organiser) %>
          <% end %>
        </strong></p>
      </div>

      <hr>

      <p><%= @rehearsal.description %></p>

      <br>

      <h4>Attendees</h4>
      <% @filled.each do |role| %>
        <%= render "shared/spaces_card", role: role %>
      <% end %>

      <br>
      <br>

      <% if @spaces.length.positive? %>
        <h4>Spaces</h4>
        <% @spaces.each do |role| %>
          <div class="d-flex">
            <%= render "shared/spaces_card", role: role %>
          </div>
        <% end %>
      <% end %>

      <br>
      <br>

      <h4>Location</h4>
      <p><%= @rehearsal.address %></p>

      <div class="map-box-container">
        <div id="map" class="photo-map"
          style="width: 350px; height: 200px; margin: 0px 0px 20px 0px; position: relative;"
          data-markers="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

      <div class="rehearsal-page-buttons">
        <% if (@rehearsal.user_id == current_user.id) %>
          <%= link_to "Edit", edit_rehearsal_path(@rehearsal), class: 'btn btn-openrehearsal ml-3 mr-4' %>
          <%= link_to "Cancel rehearsal",
                      rehearsal_path(@rehearsal),
                      class: 'btn btn-openrehearsal ml-3 mr-4',
                      method: :delete,
                      data: { confirm: "Are you sure you want to cancel this rehearsal?" } %>
        <% end %>
        <%= link_to "Back", rehearsals_path, class: 'btn btn-explore ml-3 mr-4' %>
      </div>
    </div>
  </div>
</div>
