<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="form-box col-6">
      <!-- <h2>Edit <%#= resource_name.to_s.humanize %></h2>-->
      <h2>General</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :username, required: false%>
          <%= f.label :avatar, 'Upload new profile picture' %>
          <%= f.file_field :avatar, direct_upload: true %>
          <%= f.input :bio, required: false %>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      placeholder: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>

          <div class="form-actions">
            <%= f.button :submit, "Update", class: "btn btn-search" %>

          </div>
      <% end %>




          <div class="mt-5" id="user-skills">

            <h2>Your instruments</h2>

            <ul class="user-list skill-list">
              <% current_user.skills.each do |skill| %>
                <li>
                  <div class="skill-item">
                    <div>
                      <%= cl_image_tag skill.instrument.photo.key, class: "mini-icon mr-2" %>
                      <%= skill.instrument.name %>
                    </div>

                    <%= link_to skill_path(skill), remote: true, method: :delete do %>
                      <i class="fas fa-times"></i>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="mt-5">
            <h2>Add instruments</h2>
            <ul class="user-list instrument-list">
              <% Instrument.all.each do |instrument| %>
                <% if !current_user.instruments.include?(instrument) %>
                  <li>
                    <%= link_to skills_path(instrument: instrument), method: :post, remote: true do %>
                      <div class="skill-item">
                        <div>
                          <%= cl_image_tag instrument.photo.key, class: "mini-icon mr-2" %>
                          <%= instrument.name %>
                        </div>
                        <p>add!</p>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <hr>
      <%= link_to "Back", :back, class: "btn btn-primary" %>
      <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

    </div>
  </div>
</div>
