<div class="container pt-5 pb-5">
  <div class="row profile">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <% if @user.avatar.attached? %>
          <%= cl_image_tag @user.avatar.key, transformation: {width: 40, height: 40, gravity: "face", radius: "max" }, alt: "alttext", class: "avatar-large" %>
        <% else %>
          <%= image_tag "blank_avatar.jpg" %>
        <% end %>
        <br>
        <h2 class="profile-username"><%= @user.username %></h2>
        <p class="user-bio"><%= @user.bio %></p>
        <div class="profile-button-container">
          <% if @user == current_user %>
            <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-openrehearsal" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-8 profile-rehearsals">
      <ul>
        <li class="profile-list-title"><h4>Plays <%= @user.instruments.count %> instruments:</h4></li>
          <div class="profile-instruments-container">
            <% @user.instruments.each do |instrument| %>
              <div class="instrument-clickable">
                <i><%= cl_image_tag instrument.photo.key %></i>
                <p><%= instrument.name.titleize %></p>
              </div>
            <% end %>
          </div>
        <hr>
        <li class="profile-list-title"><h4>Has <%= @user.rehearsals.count %> upcoming rehearsals:</h4></li>
          <% @user.rehearsals.each do |rehearsal| %>
            <li class="profile-list"><%= link_to rehearsal.title, rehearsal_path(rehearsal) %> | <%= rehearsal.address %> | <%= rehearsal.date_time.strftime("%A %d %B %H:%M") %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
