<div class="container user-profile mt-3 mb-3">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <% if @user.avatar.attached? %>
          <%= cl_image_tag @user.avatar.key, transformation: {width: 40, height: 40, gravity: "face", radius: "max" }, alt: "alttext", class: "avatar-large" %>
        <% else %>
          <%= image_tag "blank_avatar.jpg", class: "avatar-large" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username %></h2>
        <% if @user == current_user %>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="user-bio">
        <p><%= @user.bio %></p>
      </div>
      <ul class="user-details">
        <li><span><%= @user.rehearsals.count %></span> upcoming rehearsals:</li>
          <% @user.rehearsals.each do |rehearsal| %>
            <li class="list">- <%= rehearsal.title %></li>
          <% end %>
        <hr>
        <li>Plays <span><%= @user.instruments.count %></span> instruments:</li>
          <% @user.instruments.each do |instrument| %>
            <li class="list">- <%= instrument.name %></li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
