<div class="container pt-5 pb-5">
  <div class="profile">
    <div class="row">

      <div class="col-md-6">
        <div class="profile-wrapper">
          <div class="d-flex align-items-center">
            <% if @user.avatar.attached? %>
              <%= cl_image_tag @user.avatar.key, transformation: {width: 140, height: 140, gravity: "face", radius: "max" }, alt: "alttext", class: "avatar-profile" %>
            <% else %>
              <%= image_tag "blank_avatar.jpg", class: "avatar-profile" %>
            <% end %>
            <% if @user == current_user %>
              <%= link_to 'EDIT PROFILE', edit_user_registration_path, class: "btn btn-explore ml-4" %>
            <% end %>
          </div>

          <br>
          <h2 class="profile-username"><%= @user.username %></h2>

          <div class="user-bio">
            <p><%= @user.bio %></p>
          </div>
          <div>
            <h5 class="profile-instruments-title">My instruments</h5>
            <div class="profile-instrument-cards">
              <% @user.instruments.each do |instrument| %>
                <%= render 'shared/instrument_card', instrument: instrument %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 d-flex flex-column">
        <div class="profile-rehearsals">
          <h5 class="mb-3">Upcoming Rehearsals</h5>
          <div class="rehearsals-scroll">
            <% @user.upcoming_rehearsals.each do |rehearsal| %>
              <%= render 'shared/card_rehearsal', rehearsal: rehearsal %>
            <% end %>
          </div>
        </div>
        <div class="profile-image mt-auto"></div>
      </div>
    </div>
  </div>
</div>
