<div class="container user-profile mt-3 mb-3">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <%= image_tag "blank_avatar.jpg", alt: "alttext" %>
        <% if @user == current_user %>
          <a class="edit-profile" href="<%= edit_user_registration_path %>">
            <button>Edit Profile</button>
          </a>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username %></h2>
      </div>
      <div class="user-bio">
        <p><%= @user.bio %></p>
      </div>
      <ul class="user-details">
        <li><span><%= @user.rehearsals.count %></span> upcoming rehearsals:</li>
          <% @user.rehearsals.each do |rehearsal| %>
            <li class="list">- <%= rehearsal.title %></li>
          <% end %>
        <hr>
        <li>Plays <span><%= @user.instruments.count %></span> instruments:</li>
          <% @user.instruments.each do |instrument| %>
            <li class="list">- <%= instrument.name %></li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
