<%= link_to rehearsal_path(rehearsal), class:"no-decoration" do %>
  <% my_role = rehearsal.roles.filled.find { |role| role.user_id == current_user.id }  %>
  <% if my_role.nil? %>
    <% vacant_role =  rehearsal.roles.vacant.find { |role| current_user.instruments.include?(role.instrument) } %>
    <div class="card-rehearsal" align="left" style="background-image: url('<%= cl_image_path vacant_role.instrument.photo_painted.key %>');">
  <% else %>
    <div class="card-rehearsal" align="left" style="background-image: url('<%= cl_image_path my_role.instrument.photo_painted.key %>');">
  <% end %>

    <div class="card-rehearsal-top">
      <div class="card-rehearsal-top-left">
        <p><%= rehearsal.date_time.strftime("%d %b %H:%M") %></p>
      </div>
      <div class="card-rehearsal-top-right">
        <h3><%= rehearsal.title %></h3>
        <p><%= rehearsal.address.truncate(20, separator: /,/) %></p>

      </div>
    </div>
    <div class="card-rehearsal-footer">
      <% if rehearsal.organiser.avatar.attached? %>
        <%= cl_image_tag rehearsal.organiser.avatar.key, transformation: {width: 30, height: 30, gravity: "face", radius: "max", crop: "thumb" }, alt: "avatar", class: "avatar-rehearsal-card" %>
      <% else %>
        <%= image_tag "blank_avatar.jpg", class: "avatar-rehearsal-card" %>
      <% end %>
    </div>
  </div>
<% end %>
