<div class="row no-gutters">
  <div class="confirm-card">
    <% if request.user.avatar.attached? %>
      <%= link_to (cl_image_tag request.user.avatar.key, transformation: {width: 40, height: 40, gravity: "face", radius: "max", crop: "thumb" }, alt: "avatar", class: "avatar-large"), user_path(request.user) %>
    <% else %>
      <%= link_to (image_tag "blank_avatar.jpg", class: "avatar-large"), user_path(request.user) %>
    <% end %>
    <div class="confirm-card-content">
      <h3><%= link_to request.user.username, user_path(request.user) %></h3>
      <p><%= request.role.instrument.name %></p>
    </div>
    <div class="confirm-card-actions">
      <%= link_to "Confirm", accept_request_role_path(request), method: :patch, class:"btn btn-request"%>
    </div>
  </div>
</div>
<hr>
