<div class="request-card">
  <% if request.user.avatar.attached? %>
    <%= link_to (cl_image_tag request.user.avatar.key, transformation: {gravity: "face", radius: "max", crop: "thumb" }, alt: "avatar", class: "avatar-large"), user_path(request.user) %>
  <% else %>
      <%= link_to (image_tag "blank_avatar.jpg", class: "avatar-large"), user_path(request.user) %>
  <% end %>

  <div class="request-content">
    <p><%= link_to request.user.username, user_path(request.user) %></p>
    <p><small><%= request.role.instrument.name %></small></p>
  </div>

  <div class="request-action">
    <%= link_to "Confirm", accept_request_role_path(request), method: :patch, class:"btn btn-request"%>
  </div>
</div>
