<div class="spaces-card-rehearsal" style="background-image: url('<%= cl_image_path role.instrument.photo_painted.key %>');">
  <div class="spaces-card-rehearsal-top">
    <div class="card-rehearsal-top-left">
    </div>
    <div class="spaces-card-rehearsal-top-right2">
      <% if role.user %>
        <p>
          <%= link_to role.user.username, user_path(role.user) %>
        </p>
        <p><small><%=  role.instrument.name.titleize %></small></p>
      <% else %>
        <p> <%=  role.instrument.name.titleize %> </p>
      <% end %>
    </div>
  </div>
  <div class="spaces-card-rehearsal-footer">
    <% if role.user  %>
      <% if role.user.avatar.attached? %>
        <%= cl_image_tag role.user.avatar.key, transformation: {width: 40, height: 40, gravity: "face", radius: "max", crop: "thumb" }, alt: "avatar", class: "avatar-rehearsal-spaces-card" %>
      <% else %>
        <%= image_tag "blank_avatar.jpg", class: "avatar-rehearsal-spaces-card" %>
      <% end %>
    <% elsif @roles_requested_by_user.include?(role) %>
        <div class="request-status status-pending %>">
          <i>pending confirmation</i>
        </div>
    <% elsif current_user.instruments.include?(role.instrument) && !@rehearsal.attendees.include?(current_user) %>
      <%= link_to "Join", role_requests_path(role), class:"btn btn-request", method: :post, remote: true%>
    <% end %>
  </div>
</div>
