<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2>My Requests</h2>

      <p><strong><%= I18n.t('requests_from_others', count: @incoming_requests.count) %></strong></p>

      <div class="my-3">
        <div class="row justify-content-center">
          <div class="col-8">
            <ul>
              <% @incoming_requests.each do |request| %>
                <li>
                  <%= link_to request.role.rehearsal.title, rehearsal_path(request.role.rehearsal) %>
                  <%= request.role.instrument.name %>
                  <%= request.user.id %>
                  <%= link_to "Confirm", accept_request_role_path(request), method: :patch %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <p><strong><%= I18n.t('my_requests', count: @current_user_requests.count) %></strong></p>

      <div class="my-3">
        <div class="row justify-content-center">
          <div class="col-8">
            <ul>
              <% @current_user_requests.each do |request| %>
                <li>
                  <%= link_to request.role.rehearsal.title, rehearsal_path(request.role.rehearsal) %>
                  <%= request.role.instrument.name %> |
                  <%= request.user == request.role.user ? 'Confirmed' : 'Pending' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
